---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
const postEntries = await getCollection('posts');

const frontmatter = {
	title: 'トップページ'
};

---

<BaseLayout frontmatter={frontmatter}>
	<ul>
		{postEntries.map(postEntry => (
			<li>
				<a href={`/${postEntry.slug}`}>{postEntry.data.title}</a>
			</li>
		))}
	</ul>
</BaseLayout>
