---
import "./globals.css"
import TopNavigation from "../components/TopNavigation.astro";

const { frontmatter } = Astro.props;
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{frontmatter.title}</title>
	</head>
	<body>
    <TopNavigation/>
    <slot />
	</body>
</html>
